HELO:<localhost>
FROM:<aaaaa@f.com>
TO:<aaaaa@f.com>

To: aaaaa@f.com
Subject: =?UTF-8?B?Y3JhZnTjga7jgZTliKnnlKg=?=
from: ayaka1712pome@gmail.com
Return-Path: ayaka1712pome@gmail.com
MIME-Version: 1.0
Content-Transfer-Encoding: BASE64
Content-Type: text/plain; charset=UTF-8

44Oh44O844Or44OV44Kp44O844Og44KI44KK44GK5ZWP44GE5ZCI44KP44Gb44GM44GC44KK44G+
44GX44Gf44CCCgrjgJDjgYrlkI3liY3jgJEK5oW25oeJ6Iqx5a2QCgrjgJDjg6Hjg7zjg6vjgqLj
g4njg6zjgrnjgJEKYWFhYWFAZi5jb20KCuOAkOOBiuWVj+OBhOWQiOOCj+OBm+WGheWuueOAkQrn
lLPjgZfovrzjgb/jgYTjgZ/jgaDjgY3jgYLjgorjgYzjgajjgYbjgZTjgZbjgYTjgb7jgZnjgIIK
5ouF5b2T44Gu6ICF44GL44KJ6YCj57Wh6Ie044GX44G+44GZ44Gu44Gn5bCR44CF44GK5b6F44Gh
44GP44Gg44GV44GE44CCCgoKCg==