HELO:<localhost>
FROM:<nobody@9cc4aa6d311b>
TO:<suzuki@gmail.com>

To: suzuki@gmail.com
Subject: craft: =?UTF-8?B?6LK056S+44G444Gu5a2m55Sf5oOF?=
 =?UTF-8?B?5aCx6L+95Yqg44Gu6YCa55+l44Gr44Gk44GE44Gm?=
from: ayaka1712pome@gmail.com
Return-Path: ayaka1712pome@gmail.com
MIME-Version: 1.0
Content-Transfer-Encoding: BASE64
Content-Type: text/plain; charset=UTF-8

44GE44Gk44KCYm9vemVy56S+Y3JhZnTjgpLjgZTliKnnlKjjgYTjgZ/jgaDjgY3jgYLjgorjgYzj
gajjgYbjgZTjgZbjgYTjgb7jgZnjgIIKCuW9k+OCteOCpOODiOOCiOOCiuWtpueUn+ODpuODvOOC
tuODvOOBi+OCieiytOekvuOBuOOBruOBiuWVj+OBhOWQiOOCj+OBm+OBjOOBguOBo+OBn+OBruOB
p+mAmuefpeODoeODvOODq+OCkumAgeS/oeOBhOOBn+OBl+OBvuOBl+OBn+OAggrnrqHnkIbjg5rj
g7zjgrjjga7nlLPjgZfovrzjgb/kuIDopqfjg5rjg7zjgrjjgojjgorjgZTnorroqo3jgY/jgaDj
gZXjgYTjgIIKCgoK