HELO:<localhost>
FROM:<nobody@86b1065bf715>
TO:<test5@posse-ap.com>

To: test5@posse-ap.com
Subject: =?UTF-8?B?Y3JhZnTjga7jgZTliKnnlKg=?=
from: ayaka1712pome@gmail.com
Return-Path: ayaka1712pome@gmail.com
MIME-Version: 1.0
Content-Transfer-Encoding: BASE64
Content-Type: text/plain; charset=UTF-8

44Oh44O844Or44OV44Kp44O844Og44KI44KK44GK5ZWP44GE5ZCI44KP44Gb44GM44GC44KK44G+
44GX44Gf44CCCgrjgJDjgYrlkI3liY3jgJEK5oW25oeJ6Iqx5a2QCgrjgJDjg6Hjg7zjg6vjgqLj
g4njg6zjgrnjgJEKdGVzdDVAcG9zc2UtYXAuY29tCgrjgJDjgYrllY/jgYTlkIjjgo/jgZvlhoXl
rrnjgJEK55Sz44GX6L6844G/44GE44Gf44Gg44GN44GC44KK44GM44Go44GG44GU44GW44GE44G+
44GZ44CCCuaLheW9k+OBruiAheOBi+OCiemAo+e1oeiHtOOBl+OBvuOBmeOBruOBp+WwkeOAheOB
iuW+heOBoeOBj+OBoOOBleOBhOOAggoKCgo=