.contactform_body{
  text-align: center;
  width: 100%;
}
.contactform_input_screens{
  width: 100%;
}
.contactform_input_screens th{
  width:370px;
  padding: 20px 50px;
  box-sizing: border-box;
  display: table-cell;
  border-top: 1px solid #e3e9e9;
  border-bottom: 1px solid #e3e9e9;
  position: relative;
  border-top: 1px solid #e3e9e9;
  font-weight: 700;
}

.contactform_input_screens span{
  position: absolute;
  right: 0;
  line-height: 21px;
  background-color: #158780;
  color: white;
  width: 12%;
  font-size: 0.9rem;
}
.contactform_input_screens input{
width: 670px;
}
.contactform_input_screens th td{
  display: table-cell;
}
.contactform_input_screens textarea{
  box-sizing: border-box;
  width: 675px;
  height: 204px;
  padding: 28px;
}
.graduation_year{
  display: flex;
  -ms-flex-wrap: wrap;
  width: 460px;
  padding-top: 13px;
  flex-wrap: wrap;
}

.graduation_year span{
  width: 230px;
  margin-bottom: 10px;
}


































/* .contactform_input_screens{
  table-layout: auto;
    border-collapse: separate;
    border-spacing: 0 8px;
    margin-top: 25px;
    margin-bottom: 40px;
    width: 100%;
    font-size: 13px;
    color: #34373a;
}
.contactform_input_screens{
  width: 370px;
  padding: 20px 50px;
  vertical-align: middle;
}
.contactform_input_screens span{
  width: 3pc;
  height: 2pc;
  background-color: #158780;
  color: #fff;
  text-align: center;
}
.left{
  display: flex;
}

.right{
  width: 250px;
  padding: 20px 30px;
  vertical-align: middle;
}
.form div table tbody tr{
  width: 100%;
} */
