

.top_page_img img{
  width: 100%;
  height: 450px;
}
.company_logo{
  text-align: center;
  vertical-align: middle;
  margin-top: -60px;
}

.company_logo img{
  width: 200px;
}
.company_name_position{
  color: white;
  background-color: black;
  width: 100%;
  height: 191px;
  margin-top: -120px;
  z-index: 1;
}

.company_name_position p{
  line-height: 35px;
  padding-top: 100px;
  text-align: center;
}

.company_name_position p span{
  color: blue;
}

.company_container{
  display: flex;
  justify-content: space-around;
  margin-top: 50px;
}

.company_detail,.referral_case{
  border: solid 1px black;
}
.company_information{
  height: auto;
  width: 307px;
  padding: 20px;
  margin-bottom: 230px;
  margin-top: -91px;
  background-color: white;
  z-index: 2;
  margin-right: 65px;
}
.go_to_application_requirements{
  background: -moz-linear-gradient(top, #FFF, #FFC778 30%, #F89174 60%, #748af8);
  background: -webkit-linear-gradient(top, #FFF, #FFC778 30%, #F89174 60%, #748af8);
  background: linear-gradient(to bottom, #FFF, #FFC778 30%, #F89174 60%, #748af8);
  height: 54px;
  margin-top: 25px;
}
.application_requirements p{
  text-align: center;
}
.company_detail_flex{
  width: 50%;
  text-align: center;
}
.company_detail,.referral_case{
  width: 70%;
  margin-left: 100px;
}

.referral_case{
  margin-top: 100px;
}
.inquiry_step{
  text-align: center;
  margin-top: 140px;
}

.application_requirements{
  margin-left: 10px;
  display: flex;
  gap: 50px;
}
.application_requirements div{
  display: flex;
  gap: 50px;
}
.company_information_table{
  table-layout: auto;
  border-collapse: separate;
  border-spacing: 0 8px;
  margin-top: -8px;
  margin-bottom: -8px;
  width: 100%;
  font-size: 13px;
  color: #34373a;
}