/* トップページ写真 */
.detail_top_page_img img{
  width: 100%;
  height: 450px;
}

/* コンテンツの親要素 */
.company_detail_container{
  display: flex;
  margin: 0 auto;
  /* justify-content: space-around; */
  /* margin-top: 50px; */
}


/* mainコンテンツ */
.company_detail_main{
  /* ↓メインとサイドを3対1の割合で表示 */
  flex: 3;
  /* ↓calc関数:メインコンテンツの幅=(100%-サイドバーのサイズ分)を指定
      ⇒サイドバーを固定したままメインコンテンツを可変 */
  width: calc( 100% - 300px );
  /* width: 50%; 
   text-align: center; */
}

/* 
よしたかくん担当
 */
/* 強み・特徴 */
/* 企業からのメッセージ */
/* 実績テーブル */



/* 
りゅうじくん担当
 */
/* 先輩の就職先ロゴ */
/* サポートテーブル */
/* 会社情報テーブル */
/* 取扱テーブル */




/* sideコンテンツ（目次） */
.company_detail_side{
  /* ↓メインとサイドを3対1の割合で表示 */
  flex: 1;
  /* height: auto;
  width: 307px;
  padding: 20px;
  margin-bottom: 230px;
  margin-top: -91px;
  background-color: white;
  z-index: 2;
  margin-right: 65px; */
}



/* 
.company_logo{
  text-align: center;
  vertical-align: middle;
  margin-top: -60px;
}

.company_logo img{
  width: 200px;
}
.company_name_position{
  color: white;
  background-color: black;
  width: 100%;
  height: 191px;
  margin-top: -120px;
  z-index: 1;
}

.company_name_position p{
  line-height: 35px;
  padding-top: 100px;
  text-align: center;
}

.company_name_position p span{
  color: blue;
}

.company_detail,.referral_case{
  border: solid 1px black;
}

.go_to_application_requirements{
  margin-top: 15px;
  background: linear-gradient(to bottom, #FFF, #0ede1c 30%, #9beca0 60%, #cfedd4);
  height: 54px;
  margin-top: 25px;
}
.application_requirements p{
  text-align: center;
}

.company_detail,.referral_case{
  width: 70%;
  margin-left: 100px;
}

.referral_case{
  margin-top: 100px;
}
.inquiry_step{
  text-align: center;
  margin-top: 140px;
}

.application_requirements{
  margin-left: 10px;
  display: flex;
  gap: 50px;
}
.application_requirements div{
  display: flex;
  gap: 50px;
}
.company_information_table{
  table-layout: auto;
  border-collapse: separate;
  border-spacing: 0 8px;
  margin-top: 25px;
  margin-bottom: 40px;
  width: 100%;
  font-size: 13px;
  color: #34373a;
}
 */
