.thanks_wrapper{
  width: 57vw;
  /* heightはレスポンシブの時に調整します。 */
  height: 50vh;
  margin: 15vh auto;
  background-color: #e6e6fa;
  text-align: center;
}

.Contact{
  text-align: center;
  font-size: 30px;
  color: #FF8C11;
}

.thanks_letter_position{
  display: inline-block;
  width: 55%;
}

.thanks_phone_number{
  text-align: center;
}

.thank_you{
  font-weight: bold;
}



.thanks_if_deficiency p{
  margin-top: 15%;
}

.back_to_top{
  text-align: center;
}