body {
  margin: 0;
}

.main {
  background-color: rgba(38, 166, 154, 0.05);
}


/* お問い合わせボタン */

.float_button {
  width: 100%;
  position: relative;
}

.float_button a {
  position: fixed;
  z-index: 1;
  width: 30%;
  text-decoration: none;
  /* font-size: 14px; */
  text-align: center;
  color: #333;
  padding: 20px 0;
  left: calc(50% - 15%);
  bottom: 50px;
  box-shadow: 1px 1px 5px #aaa;
  color: #fff;
  background-color: #FF6E40;
  cursor: pointer;
  font-weight: 550;
  font-size: 1.2rem;
  text-decoration: none;
  border-radius: 4px;
}

/* トップページ写真 */
.detail_top_page_img {
  width: 80%;
  margin: 0 auto;
  height: 450px;
}

.detail_top_page_img img {
  width: 100%;
  height: 450px;
  margin: 0 auto;
  object-fit: cover;
}

/* ページのタイトル */
.detail_title {
  /* background: url(../img/makiko.jpg) #58b8d1 contain no-repeat; */
  background: rgba(38, 166, 154, 0.9) no-repeat center;
  width: 100%;
  height: 100px;
  display: flex;
  /* justify-content: center; */
  align-items: center;
  margin-bottom: 40px;
}

.detail_title h1 {
  margin-left: 10%;
  color: #fff;
  letter-spacing: .2rem;
  font-weight: normal;
  font-size: 2.4rem;
}


/* コンテンツの親要素 */
.company_detail_container {
  display: flex;
  margin: 0 auto;
  width: 80%;
}


/* mainコンテンツ */
.company_detail_main {
  /* outline: 1px solid violet; */
  background-color: #fff;
  /* ↓メインとサイドを3対1の割合で表示 */
  /* flex: 3; */
  /* ↓calc関数:メインコンテンツの幅=(100%-サイドバーのサイズ分)を指定
      ⇒サイドバーを固定したままメインコンテンツを可変 */
  width: 67%;
  /* margin-right: 10%; */

}

.section {
  margin-bottom: 100px;
}

.section_title {
  color: rgba(38, 166, 154, 0.9);
  padding-bottom: 8px;
  border-bottom: 1px rgba(38, 166, 154, 0.9) solid;
  margin: 64px 0;
  padding-left: 4%;
}


/* 強み・特徴 */
.strength_contents {
  padding: 0 8% 0 4%;
}

.strength_list {
  position: relative;
  margin: 6% 0 2% 0;
  font-size: 1.6rem;
  padding-left: 7%;
  text-align: left;
}

.strength_small {
  font-size: 1rem;
  padding: 0 0 0 7%;
  margin: 0;
  text-align: left;
}

.strength_list:before {
  content: "";
  position: absolute;
  top: .44em;
  left: 1.3%;
  -webkit-transform: rotate(50deg);
  -ms-transform: rotate(50deg);
  transform: rotate(50deg);
  width: 8px;
  height: 12px;
  border-right: 3px solid #e92b16;
  border-bottom: 3px solid #e92b16;
}

.strength_list:after {
  content: "";
  position: absolute;
  top: .2em;
  left: 0;
  width: 26px;
  height: 26px;
  border: 1px solid rgb(224, 140, 140);
  border-radius: 2px;
  /* margin-right: 200px; */
}


/* 企業からのメッセージ */
.detail_section_message_content {
  padding: 0 4%;
}

/* 先輩の就職先ロゴ */
.finding_employment_target_logo_container {
  display: flex;
  flex-wrap: wrap;
  width: 80%;
  margin: 0 auto;
}

.finding_employment_target_logo_container div {
  margin: 0 16px 16px 0;
  width: 20%;
  /* height: 100px; */
}

.finding_employment_target_logo_container div img {
  width: 100%;
  height: 100px;
  object-fit: cover;
}




/* サポートテーブル */
/* .detail_section_support {
  width: 80%;
  margin: 0 auto;
} */

.detail_section_support_list,
.detail_section_support_list>dt,
.detail_section_support_list>dd {
  box-sizing: border-box;
  width: 80%;
  margin: 0 auto;
}

.detail_section_support_list {
  display: flex;
  flex-wrap: wrap;
  border-bottom: 1px solid #ddd;
}

.detail_section_support_list>dt,
.detail_section_support_list>dd {
  padding: 1em;
  font-size: .9rem;
  margin: 0px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-top: 1px solid #ddd;
}

.detail_section_support_list>dt {
  background-color: rgba(38, 166, 154, 0.3);
  width: 50%;
  text-align: center;
}

.detail_section_support_list>dd {
  width: 50%;
  border-right: 1px solid #ddd;
  border-left: 1px solid #ddd;
  /* margin: 0 auto; */
  text-align: center;
}

.detail_section_support_list_titile_dt,
.detail_section_support_list_titile_dd {
  padding: 2em;
  background-color: rgb(185, 186, 185) !important;
  color: #fff;
}





/* 会社情報テーブル */

.detail_section_company_information_list,
.detail_section_company_information_list>dt,
.detail_section_company_information_list>dd {
  box-sizing: border-box;
}

.detail_section_company_information_list>dt,
.detail_section_company_information_list>dd {
  padding: .8em;
  /* padding: .8rem 1.6rem; */
  margin: 0px;
}

.detail_section_company_information_list>dt {
  background-color: #feffff;
}


.detail_section_company_information_list {
  display: flex;
  flex-wrap: wrap;
  border-bottom: 1px solid #ddd;
  margin: 0 4%;
}

.detail_section_company_information_list>dt,
.detail_section_company_information_list>dd {
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-top: 2px solid #ddd;
}

.detail_section_company_information_list>dt {
  width: 34%;
  padding-left: 3%;
  /* text-align: center; */
  border-left: 1px solid #ddd;
  border-right: 1px solid #ddd;
}

.detail_section_company_information_list>dd {
  width: 66%;
  border-right: 1px solid #ddd;
  /* margin: 0 auto; */
  /* text-align: center; */
  padding-left: 3%;
}





/* sideコンテンツ（目次） */
.company_detail_side {
  width: 33%;
  margin-left: 8%;
}

.side_title {
  padding-left: 8%;
}

.side_title h3 {
  margin: 0;
  padding: 32px 0 24px;
}

.sticky {
  position: sticky;
  height: 400px;
  top: 40px;
  width: 100%;
  background-color: #fff;
  padding-bottom: 24px;
}

.company_detail_side_ul {
  padding: 0;
}

.company_detail_side_ul li {
  list-style: none;
  padding: 0 0 24px 8%;
  color: rgba(38, 166, 154, 0.9);
  font-weight: bold;
  font-size: 1.2rem;
}

.last_li {
  padding-bottom: 24px;
}

.company_detail_side_ul a:hover {
  opacity: .6;
}

a {
  text-decoration: none;
}

.detail_section_message_content p {
  letter-spacing: .2rem;
  line-height: 1.8;
  font-size: 1.6rem;
}

/* ----------------   タブレット     --------------------- */
@media screen and (min-width: 767px) and (max-width: 1024px) {


  .strength_list {
    font-size: 2.4rem;
    padding-left: 10%;
  }

  .strength_small {
    font-size: .8rem;
    padding: 0 0 0 10%;
  }

  .strength_list:before {
    top: .36em;
    left: 2%;
    width: 8px;
    height: 12px;
  }

  .strength_list:after {
    top: .2em;
    width: 24px;
    height: 24px;
  }
}

@media screen and (max-width: 767px) {

  .strength_list {
    font-size: 2.8rem;
    padding-left: 8%;
  }

  .strength_small {
    font-size: 1rem;
    padding: 0 0 0 8%;
  }

  .strength_list:before {
    top: .5em;
    left: 1.1%;
    width: 6px;
    height: 10px;
  }

  .strength_list:after {
    top: .36em;
    width: 20px;
    height: 20px;
  }

  .detail_section_message_content p {
    letter-spacing: .2rem;
    line-height: 2.4;
    font-size: 2rem;
  }
}