/* 全体について */
body {
  margin: 0 auto;
}
/* ヘッダーについて */
header{
  position: fixed;
  z-index: 999;
  top: 0;
  height: 65px;
  /* background-color: rgba(38, 166, 154, 0.85); */
  background-color: #26a69a;
  display: flex;
  align-items: center;
  width: 100%;
  margin: 0 auto;
}

.header_logo a{
  padding: 10px 20px;
  color: white;
  font-size: 30px;
  font-weight: bold;
  text-decoration: none;
}
/* .header_logo img{
  width: 100px;
  height: 60px;
} */

.header_nav{
  margin: 0 20px 0 auto;
}
.header_nav ul {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  margin: 0;
  list-style: none;
}
.header_nav a{
  padding: 10px 15px 15px;
  color: white;
  text-decoration: none;
  font-size: 15px;
  line-height: 1.5;
}
.header_nav a:hover{
  opacity: 0.7;
}

/* フッダーについて */
.dfont {
  font-family: "Quicksand","Helvetica", "Arial", "Hiragino Kaku Gothic ProN", "Hiragino Sans", YuGothic, "Yu Gothic", "メイリオ", Meiryo, sans-serif;
}
.footer {
  position: relative;
  clear: both;
  font-size: 0.95em;
  font-size: 1.2em;
  /* opacity: 0.75; */
}
.footer p {
  line-height: 1.55;
}
.site_description {
  font-size: .75em;
  text-align: center;
  color: #fff;
}
#footer-menu {
  padding: 20px 10px 10px;
  text-align: center;
  background-color: #26a69a;
}
#footerlogo img {
  display: inline-block;
  height: 62px;
  padding: 10px 0 10px 0;
  vertical-align: middle;
}
#footer-menu a {
  color: #fff;
  text-decoration: none;
}
.footer-menu__btn {
  font-size: 20px;
  transition: 0.3s ease-in-out;
}
.footer-menu__btn:hover {
  opacity: 0.7;
}
#footer-menu nav,
.footer-links {
  display: inline-block;
}
#footer-menu ul {
  margin: 0.5em;
}
#footer-menu li,
.privacy-policy-link {
  display: inline-block;
  padding: 0 6px;
  font-size: 14.5px;
}
.privacy-policy-link {
  padding-left: 0;
}
#footer-menu li a:hover,
#footer-menu .privacy-policy-link:hover {
  text-decoration: underline;
}
.copyright {
  margin: 5px 0 0;
  font-size: 13.5px;
  opacity: 0.7;
}