/* 全体について */
body{
	/* background-color: #e5e5e5; */
	background-color: rgba(38, 166, 154, 0.05);
	margin: 0 auto;
}

/* ヘッダーについて */
header{
  position: fixed;
  z-index: 999;
  top: 0;
  height: 65px;
  background-color: rgba(38, 166, 154, 0.85);
  display: flex;
  align-items: center;
  width: 100%;
  margin: 0 auto;
}

.header_logo a{
  padding: 10px 20px;
  color: white;
  font-size: 30px;
  font-weight: bold;
  text-decoration: none;
}

.header_nav{
  margin: 0 20px 0 auto;
}
.header_nav ul {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  margin: 0;
  list-style: none;
}
.header_nav a{
  padding: 10px 15px 15px;
  color: white;
  text-decoration: none;
  font-size: 15px;
  line-height: 1.5;
}
.header_nav a:hover{
  opacity: 0.7;
}


/* メイン全体について */
.compare_wrapper{
	margin-top: 6rem;
	margin-bottom: 6.5rem;
	text-align: center;
	/* background-color: #e5e5e5; */
	/* outline: red; */
}


/* 比較表について */
table {
	/* テーブル中央ぞろえ */
	margin-left: auto;
	margin-right: auto;
	/* 枠線 */
	/* border: 2px solid #01bfbd; */
	background-color: #fff;
}

/* ロゴ写真 */
.table_company_img img{
	width: 17rem;
}

/* 説明行の枠線 */
.tr_first{
	border-top: 0.4rem solid #e8ecf1;
}
.tr_last{
	border-bottom: 0.4rem solid #e8ecf1;
}
th,td {
	border-top: 0.2rem solid #e8ecf1;
	border-bottom: 0.2rem solid #e8ecf1;
	/* border-top: 0.2rem solid #92c1c0;
	border-bottom: 0.2rem solid #92c1c0; */
}
th{
	border-right: 0.2rem solid #e8ecf1;
	/* border-right: 0.2rem solid #92c1c0; */
}
td + td{
	border-left: 0.2rem solid #e8ecf1;
	/* border-left: 0.2rem solid #92c1c0; */
}
/* 横方向の結合 */
.colap {
	border-collapse: collapse;
}
/* セルの色付け */
.fill {
	/* background-color: #aec4e2; */
	background-color: #e8ecf1;
}

/* チェックボックスについて */
input[type=checkbox] {
	display: none; /* checkboxを非表示にする */
}
input[type="checkbox"]:checked + label {
	background: #50b4ee;/* マウス選択時の背景色を指定する */
	border: 0.3rem solid #50b4ee;/* ラベルの境界線を実線で指定する */
	color: #ffffff; /* マウス選択時のフォント色を指定する */
}
label:hover {
	background-color: #E2EDF9; /* マウスオーバー時の背景色を指定する */
}
label {
/* display: block; ブロックレベル要素化する */
/* float: left; 要素の左寄せ・回り込を指定する */
margin: 1rem; /* ラベル外側の余白を指定する */
/* margin-left: 0 auto; */
width: 9rem; /* ラベルの横幅を指定する */
height: 45px; /* ラベルの高さを指定する */
text-align: center; /* テキストのセンタリングを指定する */
line-height: 45px; /* 行の高さを指定する */
padding: 0.25rem 1rem 0.25rem; /* ラベル内の余白を指定する */
cursor: pointer; /* マウスカーソルの形（リンクカーソル）を指定する */
/* color: #2c1d1d; フォントの色を指定 */
font-weight: bold;
/* justify-content: center; */
border: 0.3rem solid #31A9EE;/* ラベルの境界線を実線で指定する */
border-radius: 5px; /* 角丸を指定する */
}

/* 選択済みボックスについて */
.selected_company_box{
	/* display: none; */
	position: fixed;
  bottom: 0;
  width: 100%;
	/* background-color: #92c1c0; */
	/* margin: 2em 0; */
  /* background: #f1f1f1; */
  background: #3D3D3D;
  /* box-shadow: 0 0.2rem 4px rgba(0, 0, 0, 0.22); */
}
.selected_company_box .box-title {
	font-size: 1.2em;
	/* background: #57b6e2; */
	padding: 4px;
	margin: 0 auto;
	/* text-align: center; */
	color: #FFF;
	font-weight: bold;
	letter-spacing: 0.05rem;
}
.contact_button{
	font-size: 0.8rem;
	/* background-color: #aec4e2; */
	/* background-color: #66b6e5; */
	background-color: #fff;
	padding: 0.4rem;
	margin-bottom: 1rem;
	/* text-align: center; */
	/* color: #232424; */
	/* color: #66b6e5; */
	font-weight: bold;
	letter-spacing: 0.05rem;
	/* border-color: #66b6e5; */
	border-color: #fff;
	border-radius: 1rem;
}

/* .twrapper{
	overflow: auto;
	white-space: nowrap;
}
.twrapper table{
	width: auto;
}
.twrapper table th,
.twrapper table td {
	min-width: 60px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-o-box-sizing: border-box;
	-ms-box-sizing: border-box;
	box-sizing: border-box;
}
.twrapper table .fixcell {
	position: -webkit-sticky;
	position: sticky;
	left: 60px;
	width: 60px;
	min-width: 60px;
	max-width: 60px;
}
.twrapper table .fixcell:first-child {
	left: 0;
}
.twrapper table .fixcell[colspan="2"] {
	width: 120px;
	min-width: 120px;
	max-width: 120px;
	left: 0;
} */